  {% comment %}
  <div class="newsletter_section">

    <div class="container">
      <!-- newsletter
        <div class="col-md-8">
            <form class="form-inline">
                <div class="form-group">
                    <input type="email" class="form-control input" placeholder="email address">
                    <button type="submit" class="button outline-btn newsletter">Submit</button>
                </div>
            </form>
        </div>-->
    </div>

  </div>
  {% endcomment %}
    <div class="container">
        <div class="top_footer">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><b>Indicators</b></li>
                        <li><a href="https://tradingeconomics.com/" target="_blank" rel="noopener">Homepage</a></li>
                        <li><a href="https://tradingeconomics.com/countries" target="_blank" rel="noopener">Countries</a></li>
                        <li><a href="https://tradingeconomics.com/indicators" target="_blank" rel="noopener">Indicators</a></li>
                        <li><a href="https://tradingeconomics.com/calendar" target="_blank" rel="noopener">Calendar</a></li>
                        <li><a href="https://tradingeconomics.com/forecasts" target="_blank" rel="noopener">Forecasts</a></li>
                        <li><a href="https://tradingeconomics.com/country-list/rating" target="_blank" rel="noopener">Ratings</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><b>Solutions</b></li>
                        <li><a href="https://tradingeconomics.com/analytics/features.aspx" target="_blank" rel="noopener">Data Subscriptions</a></li>
                        <li><a href="https://tradingeconomics.com/api/" target="_blank" rel="noopener">API Access</a></li>
                        <li><a href="https://tradingeconomics.com/analytics/excel.aspx" target="_blank" rel="noopener">Excel Add-In</a></li>
                        <li><a href="https://developer.tradingeconomics.com/" target="_blank" rel="noopener">Developer Account</a></li>
                        <li><a href="/" target="_blank" rel="noopener">Documentation</a></li>
                        <li><a href="https://tradingeconomics.com/analytics/pricing.aspx" target="_blank" rel="noopener">Pricing</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><b>About Us</b></li>
                        <li><a href="https://tradingeconomics.com/api/customers.aspx" target="_blank" rel="noopener">Customers</a></li>
                        <li><a href="https://tradingeconomics.com/careers.aspx" target="_blank" rel="noopener">Careers</a></li>
                        <li><a href="https://tradingeconomics.com/investors.aspx" target="_blank" rel="noopener">Investors</a></li>
                        <li><a href="https://tradingeconomics.com/advertise.aspx" target="_blank" rel="noopener">Advertisers</a></li>
                        <li><a href="https://tradingeconomics.com/about-te.aspx" target="_blank" rel="noopener">About us</a></li>
                        <li><a href="https://tradingeconomics.com/privacy-policy.aspx" target="_blank" rel="noopener">Privacy</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><b>Follow Us</b></li>
                        <li><a href="https://www.twitter.com/teconomics" target="_blank" rel="noopener">Twitter</a></li>
                        <li><a href="https://itunes.apple.com/us/app/trading-economics/id1142178921?mt=8" target="_blank" rel="noopener">App Store</a></li>
                        <li><a href="https://tradingeconomics.com/rss/" target="_blank" rel="noopener">RSS</a></li>
                        <li><a href="https://github.com/tradingeconomics/tradingeconomics" target="_blank" rel="noopener">GitHub</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-nav">
                <nav class="footer_sub_nav">
                    <ul class="menu">
                        <li><a href="https://www.docker.com/legal/docker-terms-service" target="_blank" rel="noopener">Terms of Service</a></li>
                        <li><a href="https://status.docker.com/" target="_blank" rel="noopener">Status</a></li>
                        <li><a href="https://www.docker.com/legal" target="_blank" rel="noopener">Legal</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="bottom_footer">
            <div class="footer-copyright col-xs-12 col-md-8">
                <p class="copyright">
                    Copyright © <span id="year"></span> TRADING ECONOMICS. All Rights Reserved.
                </p>
                {%- if jekyll.environment == 'production' and site.onetrust_id != '' -%}
                <!-- OneTrust Cookies Settings button start -->
                <button id="ot-sdk-btn" class="ot-sdk-show-settings">Cookie Settings</button>
                <!-- OneTrust Cookies Settings button end -->
                {%- endif -%}
            </div>
            <div class="footer_social_nav">
                <ul class="nav-social">
                    <li class="fa-brands fa-twitter"><a href="https://twitter.com/docker">Twitter</a></li>
                    <li class="fa-brands fa-youtube"><a href="https://www.youtube.com/user/dockerrun">Youtube</a></li>
                    <li class="fa-brands fa-github"><a href="https://github.com/docker">GitHub</a></li>
                    <li class="fa-brands fa-linkedin-in"><a href="https://www.linkedin.com/company/docker">Linkedin</a></li>
                    <li class="fa-brands fa-facebook-f"><a href="https://www.facebook.com/docker.run">Facebook</a></li>
                    <li class="fa-brands fa-slideshare"><a href="https://www.slideshare.net/docker">Slideshare</a></li>
                    <li class="fa-brands fa-reddit-alien"><a href="https://www.reddit.com/r/docker">Reddit</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
